.animated-text-wrapper {
  overflow: hidden;
  display: inline-block;
}

.animated-text {
  display: inline-block;
  transform: translateY(-100%);
  opacity: 0;
  animation: slideDown 0.1s ease forwards;
  animation-delay: var(--animation-delay, 0s); /* Use CSS variable for delay */
}

@keyframes slideDown {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
