.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px;
  gap: 50px;
}

.contact-info {
  max-width: 600px;
  color: #c2e6ff;
  width: 100%;
}

.status {
  display: flex;
  align-items: center;
  gap: 10px;
  color: green;
  margin-bottom: 10px;
}

.status-indicator {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.highlight {
  color: #fff;
}

.contact-details {
  margin: 20px 0;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.contact-form input,
.contact-form textarea {
  background-color: #222;
  border: none;
  color: #c2e6ff;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.contact-form textarea {
  resize: vertical;
  height: 100px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #c2e6ff;
  opacity: 0.6;
}

.contact-button {
  background-color: #004074;
  color: #c2e6ff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: auto; /* Ensure the button width is automatic */
  align-self: center;
}

.contact-button:hover {
  background-color: #003362;
  transition: background-color 0.3s, color 0.3s;
}
