.animated-text {
  font-size: 2rem; /* Ajustez la taille de la police selon vos besoins */

  color: #c2e6ff; /* Ajustez la couleur du texte selon vos besoins */
}

.animated-text-container {
  font-size: 2rem; /* Ajustez la taille de la police selon vos besoins */
  /* font-weight: bold; */
  color: #c2e6ff; /* Ajustez la couleur du texte selon vos besoins */
}

.presentation-name {
  font-size: 2rem; /* Ajustez la taille de la police selon vos besoins */
  /* font-weight: bold; */
  color: #c2e6ff; /* Ajustez la couleur du texte selon vos besoins */
}

.align-inline {
  display: inline-flex;
  align-items: center;
}

.presentation {
  /* margin-top: 20px; */
  /* text-align: center; */
  color: #c2e6ff;
  font-size: 1.5rem;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.image-and-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-container {
  width: 66.66%; /* 2/3 de la largeur */
}

.text-container > * {
  margin-bottom: 20px; /* Espace vertical entre les éléments */
}

.text-container > *:last-child {
  margin-bottom: 0; /* Supprime la marge inférieure du dernier élément */
}

.image-container {
  width: 33.33%; /* 1/3 de la largeur */
  display: flex;
  justify-content: center;
}

.profile-image {
  width: 100%;
  max-width: 300px; /* Limite la taille maximale de l'image */
  height: auto;
  border-radius: 40px; /* Rend l'image circulaire */
}

.animated-text-container,
.presentation-name {
  font-size: 1.5rem; /* Ajustez la taille de la police selon vos besoins */
  color: #c2e6ff; /* Ajustez la couleur du texte selon vos besoins */
}

.office-image {
  border-radius: 50%;
  width: 250px; /* Ajustez la largeur de l'image selon vos besoins */
  height: 250px; /* Ajustez la hauteur de l'image selon vos besoins */
}

.waving-hand {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: 70% 70%; /* Adjust the origin to make the wave look natural */
}
/*
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */

@keyframes fadeIn {
  to {
    opacity: 0.7; /* Final opacity for a more transparent look */
  }
}

/* .animated-text-container {
  text-align: center;
} */

@media (max-width: 768px) {
  .image-and-text {
    flex-direction: column; /* Affiche les éléments verticalement sur les petits écrans */
    align-items: center;
    width: 90%; /* Ajuste la largeur pour les écrans plus petits */
  }

  .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .animated-text {
    font-size: 2rem; /* Adjust text size for smaller screens */
  }

  .animated-image {
    width: 200px; /* Taille fixe de l'image pour les petits écrans */
    height: 250px; /* Taille fixe de l'image pour les petits écrans */
  }

  .custom-text {
    font-size: 1.2rem; /* Adjust custom text size for smaller screens */
    text-align: center;
    margin-bottom: 20px;
  }

  .presentation {
    font-size: 1.2rem; /* Adjust presentation text size for smaller screens */
  }
}

@media (max-width: 480px) {
  .image-and-text {
    flex-direction: column; /* Assure un affichage vertical pour les très petits écrans */
    align-items: center;
    width: 95%; /* Ajuste la largeur pour les très petits écrans */
  }

  .animated-text {
    font-size: 1.5rem; /* Further adjust text size for very small screens */
  }

  .animated-image {
    width: 200px; /* Taille fixe de l'image pour les très petits écrans */
    height: 250px; /* Taille fixe de l'image pour les très petits écrans */
  }

  .custom-text {
    font-size: 1rem; /* Further adjust custom text size for very small screens */
    text-align: center;
    margin-bottom: 20px;
  }

  .presentation {
    font-size: 1rem; /* Adjust presentation text size for very small screens */
  }
}
