.animated-text {
  font-size: 8rem; /* Ajustez la taille de la police selon vos besoins */
  font-weight: bold;
  color: white; /* Ajustez la couleur du texte selon vos besoins */
}

.home-page {
  display: flex;
  flex-direction: column; /* Changer de row à column pour un affichage vertical */
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.image-and-text {
  display: flex;
  flex-direction: row; /* Affiche l'image et le texte côte à côte */
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  /* max-width: 80%; Utiliser max-width pour limiter la largeur */
  /* margin: 0 auto; Centre le conteneur horizontalement */
}

.office-image {
  border-radius: 50%;
  width: 250px; /* Ajustez la largeur de l'image selon vos besoins */
  height: 250px; /* Ajustez la hauteur de l'image selon vos besoins */
}

.waving-hand {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: 70% 70%; /* Adjust the origin to make the wave look natural */
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  to {
    opacity: 0.7; /* Final opacity for a more transparent look */
  }
}

.animated-text-container {
  text-align: center;
}

.presentation {
  margin-top: 20px;
  text-align: center;
  color: #5a5555;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .image-and-text {
    flex-direction: column; /* Affiche les éléments verticalement sur les petits écrans */
    align-items: center;
    width: 90%; /* Ajuste la largeur pour les écrans plus petits */
  }

  .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .animated-text {
    font-size: 2rem; /* Adjust text size for smaller screens */
  }

  .animated-image {
    width: 200px; /* Taille fixe de l'image pour les petits écrans */
    height: 250px; /* Taille fixe de l'image pour les petits écrans */
  }

  .custom-text {
    font-size: 1.2rem; /* Adjust custom text size for smaller screens */
    text-align: center;
    margin-bottom: 20px;
  }

  .presentation {
    font-size: 1.2rem; /* Adjust presentation text size for smaller screens */
  }
}

@media (max-width: 480px) {
  .image-and-text {
    flex-direction: column; /* Assure un affichage vertical pour les très petits écrans */
    align-items: center;
    width: 95%; /* Ajuste la largeur pour les très petits écrans */
  }

  .animated-text {
    font-size: 1.5rem; /* Further adjust text size for very small screens */
  }

  .animated-image {
    width: 200px; /* Taille fixe de l'image pour les très petits écrans */
    height: 250px; /* Taille fixe de l'image pour les très petits écrans */
  }

  .custom-text {
    font-size: 1rem; /* Further adjust custom text size for very small screens */
    text-align: center;
    margin-bottom: 20px;
  }

  .presentation {
    font-size: 1rem; /* Adjust presentation text size for very small screens */
  }
}
