/* Fichier: navbar.css */

#logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  position: relative;
  z-index: 1;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  border: 1px solid rgba(245, 245, 245, 0.2);
  border-radius: 9999px;
  background-color: #111927;
}

.nav-button {
  position: relative; /* Pour positionner le pseudo-élément par rapport au bouton */
  background-color: #111927;
  color: #b0b0b0;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none; /* Ajouté pour les liens */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Pour éviter que l'animation dépasse */
}

.nav-button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Hauteur de la ligne de soulignement */
  bottom: 0;
  left: 0;
  background-color: white; /* Couleur de la ligne de soulignement */
  transition: width 0.3s ease-in-out;
}

.nav-button:hover::after {
  width: 100%; /* Étend la ligne de soulignement sur toute la largeur du bouton */
}

.nav-button.selected {
  background-color: #003362;
  color: #c2e6ff;
}

.nav-button.selected::after {
  width: 100%;
  background-color: #c2e6ff;
}

.nav-button:not(.selected) {
  background-color: #0d2847;
  color: #b0b0b0;
}

.nav-button:hover {
  background-color: #004074;
  color: #c2e6ff;
}

.menu-icon {
  display: none;
  cursor: pointer;
  color: #b0b0b0;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icon {
  color: #b0b0b0;
}

.social-icon:hover {
  color: #c2e6ff;
}

@media (max-width: 1024px) {
  .nav-buttons {
    display: none;
  }

  .nav-buttons.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .menu-icon {
    display: block;
  }

  .social-icons {
    display: none;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
