@import "@radix-ui/colors/blue.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 0;
  /* border: red 1px solid; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #0d1520;
  background-color: ;
  /* background-image: radial-gradient(#262626 1px, transparent 0); */
  background-size: 40px 40px;
  background-position: -19px -19px;
  /* min-height: 100dvh; */
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.global-container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1025px) {
  .global-container {
    padding-left: 250px;
    padding-right: 250px;
  }
}
